{% extends 'base.html' %}

{% block title %} Log in {% endblock title %}

{% block content %}

<h2>Log in </h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button class="btn btn-success ml-2" type="submit">Log in </button>

</form>
{% endblock content %}