{% extends 'base.html' %}
{% block title %} Password Change successful{% endblock title %}
{% block content %}
<h1> Password Change successful </h1>
<p>your Password was Change</p>
{% endblock content %}