{% extends 'base.html' %}

{% block title %}
Password reset complete
{% endblock title %}

{% block content %}
    <h1>Password reset compelete </h1>
    <p>You can login now <a href={% url 'login' %}>Log In Page</a></p>

{% endblock content %}